@model Entities.Concrete.TransactionType
@{
    ViewBag.Title = "TransactionTypeAdd";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="row text-center justify-content-center mainDiv">

    <div class="subDiv">
        <h2 class="transactionLogTypeAddHeaderText">İşlem Log Tipi</h2>
        <div class="transactionLogTypeAddForm mt-5">
            @using (Html.BeginForm("TransactionTypeAdd", "Admin", FormMethod.Post, new { @autocomplete = "off" }))
            {
                <div class="col-md-12 mt-4">
                    <label for="transactionLogTypeAdd" class="form-label" style="float:left;">İşlem log tipi</label>
                    @Html.TextBoxFor(t => t.TransactionName, new { @class = "form-control", @id = "transactionLogTypeAdd", @type = "text", @required = "required", @maxlength = "100" })
                </div>
                <div class="text-center">
                    <a href="@Url.Action("TransactionTypes","Admin")" class="btn btn-warning mt-4" style="width:110px;margin-right:10px;color:dimgray;">İptal</a>
                    <button type="submit" class="btn btn-primary mt-4 w-25">Ekle</button>

                </div>
            }
        </div>
    </div>

</div>


@section CssFile{
    <link href="@Url.Content("~/Contents/AdminTransactionLogTypeAdd.css")" rel="stylesheet" type="text/css" /> }

