@model Entities.Concrete.VehicleBrand
@{
    ViewBag.Title = "VehicleBrandAdd";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="row text-center justify-content-center mainDiv">

    <div class="subDiv">
        <h2 class="vehicleBrandAddHeaderText">Araç Markası</h2>
        <div class="vehicleBrandAddForm mt-5">
            @using (Html.BeginForm("VehicleBrandAdd", "Admin", FormMethod.Post, new { @autocomplete = "off" }))
            {
                <div class="col-md-12 mt-4">
                    <label for="vehicleType" class="form-label" style="float:left;">Araç tipi</label>
                    @if (ViewBag.VehicleTypes != null)
                    {
                        @Html.DropDownListFor(v=>v.AracTuru, ViewBag.VehicleTypes as SelectList, "Araç Tipi Seçin", new { @class = "form-control", @id= "vehicleType", @required = "required" })
                    }
                </div>
                <div class="col-md-12 mt-4">
                    <label for="vehicleBrandAdd" class="form-label" style="float:left;">Araç markası</label>
                    @Html.TextBoxFor(v => v.Marka, new { @class = "form-control", @id = "vehicleBrandAdd", @type = "text", @required = "required", @maxlength = "50" })
                </div>
                <div class="text-center">
                    <a href="@Url.Action("VehicleBrands","Admin")" class="btn btn-warning mt-4" style="width:110px;margin-right:10px;color:dimgray;">İptal</a>
                    <button type="submit" class="btn btn-primary mt-4 w-25">Ekle</button>

                </div>
            }
        </div>
    </div>

</div>


@section CssFile{
    <link href="@Url.Content("~/Contents/AdminVehicleBrandAdd.css")" rel="stylesheet" type="text/css" /> }

