@model Entities.Concrete.VehicleType
@{
    ViewBag.Title = "VehicleTypeAdd";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="row text-center justify-content-center mainDiv">

    <div class="subDiv">
        <h2 class="vehicleTypeAddHeaderText">Araç Tipi</h2>
        <div class="vehicleTypeAddForm mt-5">
            @using (Html.BeginForm("VehicleTypeAdd", "Admin", FormMethod.Post, new { @autocomplete = "off" }))
            {
                <div class="col-md-12 mt-4">
                    <label for="vehicleTypeAdd" class="form-label" style="float:left;">Araç tipi</label>
                    @Html.TextBoxFor(v=>v.AracTuru, new { @class = "form-control", @id = "vehicleTypeAdd", @type = "text", @required = "required", @maxlength = "50" })
                </div>
                <div class="text-center">
                    <a href="@Url.Action("VehicleTypes","Admin")" class="btn btn-warning mt-4" style="width:110px;margin-right:10px;color:dimgray;">İptal</a>
                    <button type="submit" class="btn btn-primary mt-4 w-25">Ekle</button>

                </div>
            }
        </div>
    </div>

</div>


@section CssFile{
    <link href="@Url.Content("~/Contents/AdminVehicleTypeAdd.css")" rel="stylesheet" type="text/css" /> }

