.mainDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    width: 100%;
    height: auto;
    margin-top: 160px;
}

.subDiv {
    margin-top: -50px;
    width: 90%;
}
.table {
    background-color: rgb(240 240 240);
}
.table thead tr {
    color: rgb(250 250 250);
    background-color: rgb( 83, 147, 153 );
}

.table tbody {
    background-color: rgb(240 240 240);
}

.table th {
    padding: 15px;
    font-weight: 500;
}

.table td {
    padding: 15px;
}
.vehicleBrandDeleteIcon .fas {
    color: rgb(235, 69, 47);
    text-decoration: none;
}

.vehicleBrandDeleteIcon :hover {
    color: rgb(235, 69, 47);
    font-size: 20px;
}
.vehicleBrandsHeaderText {
    margin-bottom: 25px;
    color: rgb(70,70,70);
}
.vehicleBrandUpdateIcon .fas {
    color: rgb(35, 204, 111);
    text-decoration: none;
}

.vehicleBrandUpdateIcon :hover {
    color: rgb(35, 204, 111);
    font-size: 20px;
}
.vehicleBrandCrudResultSuccessDiv {
    margin-top: -50px;
    margin-bottom: 80px;
    width: 40%;
    background-color: rgb(70, 194, 107);
}
.vehicleBrandCrudResultSuccessDiv p {
    padding: 10px;
    margin-top: auto;
    margin-bottom: auto;
    color: rgb(241 241 241);
}
.vehicleBrandCrudResultSuccessDiv span {
    margin-right: 20px;
    font-size: 20px;
}
.vehicleBrandAddDiv {
    float: left;
    text-align:left;
    margin-top:10px;
    margin-bottom: 10px;
    padding-left:120px;
}
.vehicleBrandAddDiv a {
    width: 200px;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
}