.mainDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:auto;
    margin-right:auto;
    margin-top:80px;
    width:50%;
    margin-top:160px;
}
.subDiv {
    width: 50%;
    height: 220px;
    cursor: pointer;
    background: rgb(240, 240, 240);
    margin: 50px;
    transition-duration: 0.5s;
    border-radius: 10px;
}
.subDiv-1 {
    border-left: 15px solid rgb(31, 142, 222);
}
.subDiv-2 {
    border-left: 15px solid rgb(200 60 60);
}
.subDiv p{
    font-size:25px;
    color:rgb(80, 80, 80);
    margin-top:35px;
}

.subDiv a{
    text-decoration:none;
}
.subDiv .fas{
    font-size: 100px;
    color: rgb(100, 100, 100);
}

.subDiv-1 .fas {
    color: rgb(31, 142, 222);
}

.subDiv-2 .fas {
    color: rgb(200 60 60);
}

.subDiv-1:hover {
    border-left: 15px solid rgb(5 85 142);
    transition-duration: 0.7s;
}
.subDiv-2:hover {
    border-left: 15px solid rgb(142 14 14);
    transition-duration: 0.7s;
}