@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(130deg, #74ebd5, #ACB6E5);
    background-size: cover;
    background-position: center;
}

.side-bar{
  background: rgba(40,40,40,0.9);
  backdrop-filter: blur(15px);
  width: 290px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  overflow-y: auto;
  transition: 0.6s ease;
  transition-property: left;
}

.side-bar.active{
  left: 0;
}

.side-bar .menu{
  width: 100%;
  margin-top: 150px;
}

.side-bar .menu .item{
  position: relative;
  cursor: pointer;
}

.side-bar .menu .item a{
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 5px 30px;
  line-height: 60px;
}

.side-bar .menu .item a:hover{
  background: #8621F8;
  transition: 0.3s ease;
}

.side-bar .menu .item i{
  margin-right: 15px;
}

.side-bar .menu .item a .dropdown{
  position: absolute;
  right: 0;
  margin: 20px;
  transition: 0.3s ease;
}

.side-bar .menu .item .sub-menu{
  background: rgba(255, 255, 255, 0.1);
  display: none;
}

.side-bar .menu .item .sub-menu a{
  padding-left: 80px;
}

.rotate{
  transform: rotate(90deg);
}

.menu-btn{
  position: absolute;
  color: #fff;
  font-size: 20px;
  margin: 25px;
  cursor: pointer;
}
.textUser{
    color:white;
    font-size:15px;
    padding:0px;
    margin:3px 13px 0px 0px;
    letter-spacing:1px;
}
.navbarDiv{
    position:sticky;
    z-index:1;
    top:0;
}
.navbar {
    background: rgba(40,40,40,0.9);
    z-index: 1;
}
.navRightDiv{
    margin-right:10px;
}
.navRightDiv .user{
    font-size:25px;
    color: rgb(230 230 230);
    margin-right:25px;
    padding:0px;
}
.navRightDiv .exit{
    color:rgb(247 100 100);
    font-size:25px;
    margin-right:35px;
    padding:0px;
}
.exit span{
    color:rgb(208 208 208);
    font-size:14px;
    font-weight:400;
    text-align:center;
    padding:0px;
    margin-left:7px;
    vertical-align:middle;
}
.renderBodyDiv{
    margin-left:290px;
    margin-top:-80px;
    height:auto;

}
@media (max-width: 900px) {
    .main h1{
    font-size: 40px;
    line-height: 60px;
  }
}
