
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="row text-center justify-content-center mainDiv">

    <div class="col-md-6 subDiv subDiv-1">
        <a href="@Url.Action("GetReservation","Reservation")"><p>Rezervasyon yap</p></a>
        <div>
            <i class="fas fa-car"></i>
        </div>
    </div>
    <div class="col-md-6 subDiv subDiv-2">
        <a href="@Url.Action("MyReservation","Reservation")"><p>Rezervasyonlarım</p></a>
        <div>
            <i class="fas fa-car"></i>
        </div>
    </div>
</div>

@section CssFile{
    <link href="@Url.Content("~/Contents/index.css")" rel="stylesheet" type="text/css" /> }