@using ReportViewerForMvc
@{
    ViewBag.Title = "ReservationReport";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


@if (ViewBag.ReportViewer != null)
{
    <div class="row text-center justify-content-center mainDiv">
        <h2 class="reservationReportsHeaderText">Rezervasyonlar Raporu</h2>
        <div class="subDiv">
            @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)
        </div>
    </div>
}



@section CssFile{
    <link href="@Url.Content("~/Contents/ReservationReport.css")" rel="stylesheet" type="text/css" /> }


